.Chat .message {
  overflow: hidden;
  display: block;
}

.inline-alert a {
    color: #9c9c9c !important;
}

/* Emoticon size ups */
img[alt="(irujanai)"], img[alt="(ianajuri)"],
img[alt="(nanodesu)"], img[alt="(usedonan)"],
img[alt="(deesu)"], img[alt="(useed)"],
img[alt="(lady)"], img[alt="(ydal)"],
img[alt="(kisaragi)"], img[alt="(igarasik)"],
img[alt="(mutsuki)"], img[alt="(ikustum)"],
img[alt="(yasen)"], img[alt="(nesay)"],
img[alt="(newsflash)"], img[alt="(hsalfswen)"],
img[alt="(bait)"], img[alt="(tiab)"],
img[alt="(peek)"], img[alt="(keep)"],
img[alt="(xopowo)"], img[alt="(owopox)"],
img[alt="(poi)"], img[alt="(iop)"],
img[alt="(hoppo)"], img[alt="(hoppou)"], img[alt="(oppoh)"], img[alt="(uoppoh)"],
img[alt="(feuer)"], img[alt="(reuef)"],
img[alt="(beaver)"], img[alt="(revaeb)"],
img[alt="(salt)"], img[alt="(tlas)"],
img[alt="(compass)"], img[alt="(ssapmoc)"],
img[alt="(shouha)"], img[alt="(ahuohs)"], img[alt="(shouhA)"],
img[alt="(chuuha)"], img[alt="(ahuuhc)"], img[alt="(chuuhA)"],
img[alt="(taiha)"], img[alt="(ahiat)"], img[alt="(taihA)"],
img[alt="(nuinui)"], img[alt="(iuniun)"],
img[alt="(haguro)"], img[alt="(orugah)"],
img[alt="(fusou)"], img[alt="(uosuf)"],
img[alt="(yayoi)"], img[alt="(ioyay)"],
img[alt="(pyon)"], img[alt="(noyp)"],
img[alt="(noshiro)"], img[alt="(orihson)"],
img[alt="(tenryuu)"], img[alt="(kowai)"], img[alt="(uuyrnet)"], img[alt="(iawok)"],
img[alt="(pregnant)"], img[alt="(tnangerp)"], img[alt="(pregnanT)"],
img[alt="(hentai)"], img[alt="(iatneh)"], img[alt="(hentaI)"],
img[alt="(tone)"], img[alt="(enot)"],
img[alt="(falukorv)"], img[alt="(falukorv2)"], img[alt="(falukorv3)"], img[alt="(3vrokulaf)"],
img[alt="(amagi)"], img[alt="(igama)"],
img[alt="(catbomb)"], img[alt="(bmobtac)"],
img[alt="(ara)"], img[alt="(ara_)"],
img[alt="(burn)"], img[alt="(nrub)"], img[alt="(burN)"], img[alt="(Nrub)"],
img[alt="(agano)"], img[alt="(onaga)"],
img[alt="(cheer)"], img[alt="(reehc)"],
img[alt="(catdive)"], img[alt="(evidtac)"],
img[alt="(whale)"], img[alt="(elahw)"],
img[alt="=^="], img[alt="(dechi)"], img[alt="(ihced)"],
img[alt="(coffee)"], img[alt="(eeffoc)"],
img[alt="(kappa)"], img[alt="(appak)"],
img[alt="(shigure)"], img[alt="(erugihs)"],
img[alt="(smug)"], img[alt="(gums)"],
img[alt="(satsuki)"], img[alt="(ikustas)"],
img[alt="(ooyodo)"], img[alt="(odoyoo)"],
img[alt="(iku)"], img[alt="(uki)"],
img[alt="(libe)"], img[alt="(ebil)"],
img[alt="(happy)"], img[alt="(yppah)"],
img[alt="(zel)"], img[alt="(lez)"],
img[alt="(kamo)"], img[alt="(omak)"],
img[alt="(samidare)"], img[alt="(eradimas)"],
img[alt="(iowa)"], img[alt="(awoi)"],
img[alt="(speed)"], img[alt="(deeps)"],
img[alt="(praise)"], img[alt="(esiarp)"],
img[alt="(daijoubu)"], img[alt="(ubuojiad)"]
{
    width:auto;
    height:33px;
}

img[alt="(IRUJANAI)"], img[alt="(IANAJURI)"],
img[alt="(NANODESU)"], img[alt="(USEDONAN)"],
img[alt="(DEESU)"], img[alt="(USEED)"],
img[alt="(LADY)"], img[alt="(YDAL)"],
img[alt="(KISARAGI)"], img[alt="(IGARASIK)"],
img[alt="(MUTSUKI)"], img[alt="(IKUSTUM)"],
img[alt="(YASEN)"], img[alt="(NESAY)"],
img[alt="(NEWSFLASH)"], img[alt="(HSALFSWEN)"],
img[alt="(BAIT)"], img[alt="(TIAB)"],
img[alt="(PEEK)"], img[alt="(KEEP)"],
img[alt="(XOPOWO)"], img[alt="(OWOPOX)"],
img[alt="(POI)"], img[alt="(IOP)"],
img[alt="(HOPPO)"], img[alt="(HOPPOU)"], img[alt="(OPPOH)"], img[alt="(UOPPOH)"],
img[alt="(FEUER)"], img[alt="(REUEF)"],
img[alt="(BEAVER)"], img[alt="(REVAEB)"],
img[alt="(COMPASS)"], img[alt="(SSAPMOC)"],
img[alt="(SHOUHA)"], img[alt="(AHUOHS)"], img[alt="(sHOUHA)"],
img[alt="(CHUUHA)"], img[alt="(AHUUHC)"], img[alt="(cHUUHA)"],
img[alt="(TAIHA)"], img[alt="(AHIAT)"], img[alt="(tAIHA)"],
img[alt="(NUINUI)"], img[alt="(IUNIUN)"],
img[alt="(HAGURO)"], img[alt="(ORUGAH)"],
img[alt="(FUSOU)"], img[alt="(UOSUF)"],
img[alt="(YAYOI)"], img[alt="(IOYAY)"],
img[alt="(PYON)"], img[alt="(NOYP)"],
img[alt="(NOSHIRO)"], img[alt="(ORIHSON)"],
img[alt="(TENRYUU)"], img[alt="(UUYRNET)"],
img[alt="(KOWAI)"], img[alt="(IAWOK)"],
img[alt="(PREGNANT)"], img[alt="(TNANGERP)"], img[alt="(pREGNANT)"],
img[alt="(HENTAI)"], img[alt="(IATNEH)"], img[alt="(hENTAI)"],
img[alt="(TONE)"], img[alt="(ENOT)"],
img[alt="(AMAGI)"], img[alt="(IGAMA)"],
img[alt="(CATBOMB)"], img[alt="(BMOBTAC)"],
img[alt="(ARA)"], img[alt="(ARA_)"],
img[alt="(AGANO)"], img[alt="(ONAGA)"],
img[alt="(CHEER)"], img[alt="(REEHC)"],
img[alt="(CATDIVE)"], img[alt="(EVIDTAC)"],
img[alt="(WHALE)"], img[alt="(ELAHW)"],
img[alt="=爪="], img[alt="(DECHI)"], img[alt="(IHCED)"],
img[alt="(COFFEE)"], img[alt="(EEFFOC)"],
img[alt="(KAPPA)"], img[alt="(APPAK)"],
img[alt="(SHIGURE)"], img[alt="(ERUGIHS)"],
img[alt="(SMUG)"], img[alt="(GUMS)"],
img[alt="(SATSUKI)"], img[alt="(IKUSTAS)"],
img[alt="(OOYODO)"], img[alt="(ODOYOO)"],
img[alt="(IKU)"], img[alt="(UKI)"],
img[alt="(LIBE)"], img[alt="(EBIL)"],
img[alt="(HAPPY)"], img[alt="(YPPAH)"],
img[alt="(ZEL)"], img[alt="(LEZ)"],
img[alt="(KAMO)"], img[alt="(OMAK)"],
img[alt="(SAMIDARE)"], img[alt="(ERADIMAS)"],
img[alt="(IOWA)"], img[alt="(AWOI)"],
img[alt="(SPEED)"], img[alt="(DEEPS)"],
img[alt="(PRAISE)"], img[alt="(ESIARP)"],
img[alt="(DAIJOUBU)"], img[alt="(UBUOJIAD)"]
{ width: auto; height: 60px; }

img[alt="v:"],
img[alt="(tlas)"],
img[alt="(ianajuri)"], img[alt="(IANAJURI)"],
img[alt="(usedonan)"], img[alt="(USEDONAN)"],
img[alt="(useed)"], img[alt="(USEED)"],
img[alt="(ydal)"], img[alt="(YDAL)"],
img[alt="(igarasik)"], img[alt="(IGARASIK)"],
img[alt="(ikustum)"], img[alt="(IKUSTUM)"],
img[alt="(nesay)"], img[alt="(NESAY)"],
img[alt="(hsalfswen)"], img[alt="(HSALFSWEN)"],
img[alt="(tiab)"], img[alt="(TIAB)"],
img[alt="(keep)"], img[alt="(KEEP)"],
img[alt="(iop)"], img[alt="(IOP)"],
img[alt="(oppoh)"], img[alt="(uoppoh)"], img[alt="(OPPOH)"], img[alt="(UOPPOH)"],
img[alt="(reuef)"], img[alt="(REUEF)"],
img[alt="(revaeb)"], img[alt="(REVAEB)"],
img[alt="(tlas)"],
img[alt="(ssapmoc)"], img[alt="(SSAPMOC)"],
img[alt="(ahuohs)"], img[alt="(AHUOHS)"],
img[alt="(ahuuhc)"], img[alt="(AHUUHC)"],
img[alt="(ahiat)"], img[alt="(AHIAT)"],
img[alt="(iuniun)"], img[alt="(IUNIUN)"],
img[alt="(orugah)"], img[alt="(ORUGAH)"],
img[alt="(uosuf)"], img[alt="(UOSUF)"],
img[alt="(ioyay)"], img[alt="(IOYAY)"],
img[alt="(noyp)"], img[alt="(NOYP)"],
img[alt="(orihson)"], img[alt="(ORIHSON)"],
img[alt="(uuyrnet)"], img[alt="(UUYRNET)"],
img[alt="(iawok)"], img[alt="(IAWOK)"],
img[alt="(tnangerp)"], img[alt="(TNANGERP)"],
img[alt="(iatneh)"], img[alt="(IATNEH)"],
img[alt="(owopox)"], img[alt="(OWOPOX)"],
img[alt="(enot)"], img[alt="(ENOT)"],
img[alt="(igama)"], img[alt="(IGAMA)"],
img[alt="(bmobtac)"], img[alt="(BMOBTAC)"],
img[alt="(ara_)"], img[alt="(ARA_)"],
img[alt="(nrub)"], img[alt="(Nrub)"],
img[alt="(onaga)"], img[alt="(ONAGA)"],
img[alt="(reehc)"], img[alt="(REEHC)"],
img[alt="(evidtac)"], img[alt="(EVIDTAC)"],
img[alt="(elahw)"], img[alt="(ELAHW)"],
img[alt="(ihced)"], img[alt="(IHCED)"],
img[alt="(eeffoc)"], img[alt="(EEFFOC)"],
img[alt="(appak)"], img[alt="(APPAK)"],
img[alt="(3vrokulaf)"], img[alt="(3VROKULAF)"],
img[alt="(erugihs)"], img[alt="(ERUGIHS)"],
img[alt="(gums)"], img[alt="(GUMS)"],
img[alt="(ikustas)"], img[alt="(IKUSTAS)"],
img[alt="(odoyoo)"], img[alt="(ODOYOO)"],
img[alt="(uki)"], img[alt="(UKI)"],
img[alt="(ebil)"], img[alt="(EBIL)"],
img[alt="(yppah)"], img[alt="(YPPAH)"],
img[alt="(lez)"], img[alt="(LEZ)"],
img[alt="(omak)"], img[alt="(OMAK)"],
img[alt="(eradimas)"], img[alt="(ERADIMAS)"],
img[alt="(awoi)"], img[alt="(AWOI)"],
img[alt="(deeps)"], img[alt="(DEEPS)"],
img[alt="(esiarp)"], img[alt="(ESIARP)"],
img[alt="(ubuojiad)"], img[alt="(UBUOJIAD)"]
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* Damage emoticons overlay */

img[alt="(shouhA)"], img[alt="(chuuhA)"], img[alt="(taihA)"], img[alt="(pregnanT)"], img[alt="(hentaI)"]
{ margin-left: -33px; }

img[alt="(sHOUHA)"], img[alt="(cHUUHA)"], img[alt="(tAIHA)"], img[alt="(pREGNANT)"], img[alt="(hENTAI)"]
{ margin-left: -60px; }

img[alt="(FALUKORV)"], img[alt="(FALUKORV2)"], img[alt="(FALUKORV3)"], img[alt="(3VROKULAF)"], img[alt="(PRAISE)"], img[alt="(ESIARP)"]
{ width: auto; height: 90px; }

img[alt="(burN)"]
{ margin-left:-30px; }

img[alt="(Nrub)"]
{ margin-right:-30px; }