<style type="text/css">
#WikiaRail {
	-webkit-column-count: 2;
	float: none !important;
	margin: 0 !important;
	padding: 13px 10px 0 !important;
	width: auto !important;
}
.WikiaMainContent {
	margin-right: 0 !important;
}
.WikiaMainContentContainer {
	margin-right: 0 !important;
}
.WikiaRail .module {
	width: 100%;
	display: inline-block;
	position: static;
	-webkit-column-break-inside: avoid;
	box-sizing: border-box;
}
</style>