#WikiaRailCheckbox {
    position: absolute;
    right: 0px;
    top: 85px;
    z-index: 9001;
    cursor: pointer;
}
 
#WikiaRailCheckboxLabel {
    position: absolute;
    right: 20px;
    top: 87px;
    z-index: 9001;
    cursor: pointer;
}
 
#WikiaPageWideCheckbox {
    position: absolute;
    right: 95px;
    top: 85px;
    z-index: 9001;
    cursor: pointer;   
}
 
#WikiaPageWideCheckboxLabel {
    position: absolute;
    right: 115px;
    top: 87px;
    z-index: 9001;
    cursor: pointer;
}