a.wikia-button,.wikia-single-button a,.wikia-menu-button,input[type="submit"],input[type="reset"],input[type="button"],.button,button {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFFF00),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#FFFF00 35%,#332255 65%);
    border: 1px solid #332255;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 19px;
    line-height: 20px;
    margin: 0;
    padding: 0 10px;ra
    text-decoration: none;
    white-space: nowrap
}

a.wikia-button:hover,.wikia-single-button a:hover,.wikia-menu-button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:hover,button:hover {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
    text-decoration: none
}

a.wikia-button.active,a.wikia-button:active,.wikia-single-button a.active,.wikia-single-button a:active,.wikia-menu-button.active,.wikia-menu-button:active,input[type="submit"].active,input[type="submit"]:active,input[type="reset"].active,input[type="reset"]:active,input[type="button"].active,input[type="button"]:active,.button.active,.button:active,button.active,button:active {
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
    color: white
}

a.wikia-button[disabled],.wikia-single-button a[disabled],.wikia-menu-button[disabled],input[type="submit"][disabled],input[type="reset"][disabled],input[type="button"][disabled],.button[disabled],button[disabled] {
    cursor: default;
    opacity: .5
}

a.wikia-button[disabled]:active,.wikia-single-button a[disabled]:active,.wikia-menu-button[disabled]:active,input[type="submit"][disabled]:active,input[type="reset"][disabled]:active,input[type="button"][disabled]:active,.button[disabled]:active,button[disabled]:active {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFFF00),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#FFFF00 35%,#332255 65%);
}

a.wikia-button img,.wikia-single-button a img,.wikia-menu-button img,input[type="submit"] img,input[type="reset"] img,input[type="button"] img,.button img,button img {
    vertical-align: text-bottom
}

a.wikia-button img.chevron,.wikia-single-button a img.chevron,.wikia-menu-button img.chevron,input[type="submit"] img.chevron,input[type="reset"] img.chevron,input[type="button"] img.chevron,.button img.chevron,button img.chevron {
    margin-top: 1px;
    vertical-align: middle
}

a.wikia-button.secondary,.wikia-single-button a.secondary,.wikia-menu-button.secondary,input[type="submit"].secondary,input[type="reset"].secondary,input[type="button"].secondary,.button.secondary,button.secondary {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#FFFF0FF 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
    border: 1px solid #615f5f;
    color: #00FF55
}

a.wikia-button.secondary:hover,.wikia-single-button a.secondary:hover,.wikia-menu-button.secondary:hover,input[type="submit"].secondary:hover,input[type="reset"].secondary:hover,input[type="button"].secondary:hover,.button.secondary:hover,button.secondary:hover {
    background-color: #22BBCC;
    background-image: -moz-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFCCFF),color-stop(65%,#22BBCC));
    background-image: -o-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -ms-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
}

a.wikia-button.secondary.active,a.wikia-button.secondary:active,.wikia-single-button a.secondary.active,.wikia-single-button a.secondary:active,.wikia-menu-button.secondary.active,.wikia-menu-button.secondary:active,input[type="submit"].secondary.active,input[type="submit"].secondary:active,input[type="reset"].secondary.active,input[type="reset"].secondary:active,input[type="button"].secondary.active,input[type="button"].secondary:active,.button.secondary.active,.button.secondary:active,button.secondary.active,button.secondary:active {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#22BBCC),color-stop(65%,#FFCCFF));
    background-image: -o-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
    background-image: -ms-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
}

a.wikia-button.secondary img.chevron,.wikia-single-button a.secondary img.chevron,.wikia-menu-button.secondary img.chevron,input[type="submit"].secondary img.chevron,input[type="reset"].secondary img.chevron,input[type="button"].secondary img.chevron,.button.secondary img.chevron,button.secondary img.chevron {
    border-color: #00FF55 transparent transparent
}

a.wikia-button.big,.wikia-single-button a.big,.wikia-menu-button.big,input[type="submit"].big,input[type="reset"].big,input[type="button"].big,.button.big,button.big {
    font-size: 18px;
    height: 40px;
    line-height: 23px
}

a.wikia-button:-moz-focusring,.wikia-single-button a:-moz-focusring,.wikia-menu-button:-moz-focusring,input[type="submit"]:-moz-focusring,input[type="reset"]:-moz-focusring,input[type="button"]:-moz-focusring,.button:-moz-focusring,button:-moz-focusring {
    box-shadow: 0px 0px 1px 1px highlight
}

.wikia-menu-button-submit input[type=submit] {
    border: none;
    height: 100%
}

input[type="submit"],input[type="reset"],input[type="button"],button {
    height: 21px
}

input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.wikia-menu-button {
    *display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.wikia-menu-button:hover {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFFF00),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#FFFF00 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#FFFF00 35%,#332255 65%);
}

.wikia-menu-button a:hover {
    text-decoration: none
}

.wikia-menu-button > a,.wikia-menu-button .drop,.wikia-menu-button > li > a {
    display: inline-block
}

.wikia-menu-button > a:hover,.wikia-menu-button .drop:hover,.wikia-menu-button > li > a:hover {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
}

.wikia-menu-button > a:active,.wikia-menu-button .drop:active,.wikia-menu-button > li > a:active {
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
    color: white
}

.wikia-menu-button > a,.wikia-menu-button > li > a {
    border-bottom-left-radius: 4px;
    border-right: 1px solid #66819b;
    border-top-left-radius: 4px;
    color: white;
    padding: 0 8px 0 5px
}

.wikia-menu-button .drop {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: -3px;
    padding-left: 5px
}

.wikia-menu-button ul {
    background: #F4E8E2;
    border: 1px solid #332255;
    display: none;
    left: -1px;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 19px;
    z-index: 100;
    box-shadow: 1px 2px 12px 0 black
}

.wikia-menu-button ul a {
    color: #00FF55;
    display: block;
    padding: 9px 9px 7px
}

.wikia-menu-button ul a:hover {
    background-color: #4b5560
}

.wikia-menu-button ul li {
    border-top: 1px solid #000000;
    line-height: normal
}

.wikia-menu-button ul li:first-child {
    border: 0
}

.wikia-menu-button .WikiaMenuElement {
    margin: 0
}

.wikia-menu-button .icon,.wikia-menu-button img {
    vertical-align: text-bottom
}

.wikia-menu-button .chevron {
    border-top-color: white;
    margin: 0 7px 0 1px
}

.wikia-menu-button.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.wikia-menu-button.active ul {
    display: block
}

.wikia-menu-button.secondary {
    border: 1px solid #000000;
    *display: inline;
    list-style: none;
    margin: 0;
    position: relative;
    text-align: left
}

.wikia-menu-button.secondary:hover {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#332255),color-stop(65%,#332255));
    background-image: -o-linear-gradient(top,#332255 35%,#332255 65%);
    background-image: -ms-linear-gradient(top,#332255 35%,#332255 65%);
}

.wikia-menu-button.secondary.combined {
    padding-left: 4px
}

.wikia-menu-button.secondary.combined:hover {
    background-color: #22BBCC;
    background-image: -moz-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFCCFF),color-stop(65%,#22BBCC));
    background-image: -o-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -ms-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
}

.wikia-menu-button.secondary.combined .drop:hover {
    background: transparent
}

.wikia-menu-button.secondary > a,.wikia-menu-button.secondary .drop,.wikia-menu-button.secondary > li > a {
    color: #00FF55;
    margin-top: -2px
}

.wikia-menu-button.secondary > a:hover,.wikia-menu-button.secondary .drop:hover,.wikia-menu-button.secondary > li > a:hover {
    background-color: #22BBCC;
    background-image: -moz-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#FFCCFF),color-stop(65%,#22BBCC));
    background-image: -o-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
    background-image: -ms-linear-gradient(top,#FFCCFF 35%,#22BBCC 65%);
}

.wikia-menu-button.secondary > a:active,.wikia-menu-button.secondary .drop:active,.wikia-menu-button.secondary > li > a:active {
    background-color: #332255;
    background-image: -moz-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(35%,#22BBCC),color-stop(65%,#FFCCFF));
    background-image: -o-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
    background-image: -ms-linear-gradient(top,#22BBCC 35%,#FFCCFF 65%);
}

.wikia-menu-button.secondary > a {
    border-right: 1px solid #000000
}

.wikia-menu-button.secondary ul {
    background: #F4E8E2;
    border: 2px solid #000000;
    display: none;
    left: -1px;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 19px;
    z-index: 100
}

.wikia-menu-button.secondary ul a {
    color: #00FF55;
    display: block
}

.wikia-menu-button.secondary ul a:hover {
    background-color: #881122 !important
}

.wikia-menu-button.secondary ul li {
    border-top: 1px solid #000000;
    line-height: normal
}

.wikia-menu-button.secondary ul li:first-child {
    border: 0
}

.wikia-menu-button.secondary.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.wikia-menu-button.secondary.active ul {
    display: block
}

.wikia-chiclet-button {
    background-image: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 19px;
    opacity: 0.7;
    padding: 0;
    position: relative;
    width: 19px
}

.wikia-chiclet-button img {
    height: 15px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 15px
}

.wikia-chiclet-button:hover {
    opacity: 1;
    background-image: none
}

button.wikia-chiclet-button {
    line-height: 1px
}

button.wikia-chiclet-button img {
    position: static;
    vertical-align: middle
}

.wikia-button.loginToEditProtectedPage {
    padding: 0px 5px
}

.wikia-button.loginToEditProtectedPage img {
    margin-right: 8px
}

a.wikia-button-facebook,a.wikia-button.wikia-button-facebook {
    border-color: #003300;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    height: 21px;
    padding: 0 6px
}

a.wikia-button-facebook,a.wikia-button-facebook:active,a.wikia-button-facebook:hover,a.wikia-button.wikia-button-facebook,a.wikia-button.wikia-button-facebook:active,a.wikia-button.wikia-button-facebook:hover {
    background-color: #33CC99;
    background-image: -moz-linear-gradient(top,#33CC99 0%,#33CCFF 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(0%,#33CC99),color-stop(100%,#33CCFF));
    background-image: -o-linear-gradient(top,#33CC99 0%,#33CCFF 100%);
    background-image: -ms-linear-gradient(top,#33CC99 0%,#33CCFF 100%);
}

a.wikia-button-facebook > img,a.wikia-button.wikia-button-facebook > img {
    border-right: solid 1px #000000;
    margin-right: 6px
}

.modalWrapper {
    box-shadow: 0 10px 60px 0 #232323;
    background: #F4E8E2;
    border-width: 5px;
    border-style: solid;
    border-color: #1a1a1a;
    border-color: rgba(26,26,26,0.6);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    /*color: #7575A3;*/
    color: #FF3300;
    position: absolute
}

.modalWrapper > h1,.modalWrapper .main-header {
    color: #54303A;
    font-size: 22px;
    margin: 20px 60px 20px 20px;
    overflow: hidden
}

.modalWrapper .close {
    zoom:1;float: right;
    margin: 20px 20px 0 0;
    z-index: 1
}

.modalWrapper .close:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.modalWrapper .neutral {
    background: transparent
}

.modalWrapper .modalToolbar {
    text-align: right;
    background: transparent;
    margin-top: 20px
}

.modalWrapper .modalToolbar a {
    margin-left: 10px
}

.modalWrapper #WikiaConfirmOk {
    margin-left: 2px
}

.modalContent {
    zoom:1;font-size: 13px;
    line-height: 21px;
    display: block;
    margin: 0 20px 20px 20px
}

.modalContent:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.modalContent .main-header {
    margin-left: 0;
    margin-top: 0
}

.modalContent .MyToolsConfiguration .options-list {
    line-height: 1
}

.modalContent b {
    font-weight: bold
}

.modalContent i {
    font-style: italic
}

.blackout {
    background: #0000CC;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%
}

yui-overlay,.yui-panel-container {
    position: absolute;
    z-index: 5000102 !important
}

.yui-panel {
    left: 0;
    position: relative;
    top: 0
}

.mask {
    background: #BBAACC;
    margin-top: -30px;
    opacity: .8;
    position: fixed;
    z-index: 5000101 !important
}

.editor .mask {
    margin-top: 0px
}

.skin-oasis #ImageUploadBorder {
    display: none
}

.skin-oasis #ImageUploadBody {
    height: 480px
}

.skin-oasis #ImageUploadProgress1 {
    visibility: hidden
}

.skin-oasis .yui-back {
    display: inline-block;
    margin: 0 5px 0 0
}

.skin-oasis #VideoEmbedConflict .yui-back,.skin-oasis #ImageUploadConflict .yui-back {
    bottom: 15px
}

a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,time,ul,var,video {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

a,ins {
    text-decoration: none
}

ul,ol {
    list-style: none
}

q:after,q:before {
    content: ""
}

.WikiaForm > fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

.WikiaForm .input-group {
    clear: both;
    float: left;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 5px;
    padding: 5px 7px
}

.WikiaForm .input-group [type='text'],.WikiaForm .input-group [type='url'],.WikiaForm .input-group [type='password'],.WikiaForm .input-group [type='email'],.WikiaForm .input-group textarea {
    box-shadow: inset 1px 1px 1px 0 #0088DD;
    background-color: #4c4b4b;
    border: 1px solid #000000;
    color: #B59A8E;
    font-family: "Lucida Grande",sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 8px;
    -webkit-appearance: textfield
}

.WikiaForm .input-group [type='text']:focus,.WikiaForm .input-group [type='url']:focus,.WikiaForm .input-group [type='password']:focus,.WikiaForm .input-group [type='email']:focus,.WikiaForm .input-group textarea:focus {
    background-color: #3311FF
}

.WikiaForm .input-group [type='text']::-webkit-input-placeholder,.WikiaForm .input-group [type='text']:-moz-placeholder,.WikiaForm .input-group [type='text'].placeholder,.WikiaForm .input-group [type='url']::-webkit-input-placeholder,.WikiaForm .input-group [type='url']:-moz-placeholder,.WikiaForm .input-group [type='url'].placeholder,.WikiaForm .input-group [type='password']::-webkit-input-placeholder,.WikiaForm .input-group [type='password']:-moz-placeholder,.WikiaForm .input-group [type='password'].placeholder,.WikiaForm .input-group [type='email']::-webkit-input-placeholder,.WikiaForm .input-group [type='email']:-moz-placeholder,.WikiaForm .input-group [type='email'].placeholder,.WikiaForm .input-group textarea::-webkit-input-placeholder,.WikiaForm .input-group textarea:-moz-placeholder,.WikiaForm .input-group textarea.placeholder {
    color: #75A393
}

.WikiaForm .input-group [type='text'].error,.WikiaForm .input-group [type='url'].error,.WikiaForm .input-group [type='password'].error,.WikiaForm .input-group [type='email'].error,.WikiaForm .input-group textarea.error {
    border: 2px solid #ff3333
}

.WikiaForm .input-group label {
    display: block;
    line-height: 15px;
    margin: 0 0 5px
}

.WikiaForm .input-group label .sprite {
    margin: -4px 0 0 3px
}

.WikiaForm .input-group strong {
    font-weight: bold
}

.WikiaForm .input-group.error,.WikiaForm .input-group.success {
    border-radius: 3px;
    background-color: #AA3388
}

.WikiaForm .input-group.error .error-msg,.WikiaForm .input-group.success .error-msg {
    color: #aa1111;
    font-size: 11px;
    margin-top: 5px
}

.WikiaForm .input-group.error .success-msg,.WikiaForm .input-group.success .success-msg {
    color: #AA2222;
    font-size: 11px;
    margin-top: 5px
}

.WikiaForm .input-group.error label {
    color: #aa1111
}

.WikiaForm .input-group.general-errors .error-msg {
    margin-top: 0
}

.WikiaForm .spacer {
    clear: both
}

.WikiaForm [type='submit'].link {
    background: none;
    border: 0;
    border-radius: 0;
    color: #FF77FF;
    line-height: 13px;
    padding: 0
}

.WikiaForm [type='submit'].link:hover {
    text-decoration: underline
}

.WikiaForm .submits {
    padding: 0 7px
}

.modalWrapper .input-group {
    padding-left: 0;
    padding-right: 0
}

.modalWrapper .input-group select {
    min-width: 130px
}

.UserStatsMenu {
    background: #F4E8E2;
    display: none;
    color: #85D6FF;
    font-size: 12px
}

/*.UserStatsMenu .info controls the message box when user clicks on another user from user list.*/
.UserStatsMenu .info {
    zoom:1;background: #7D5D66;
    line-height: 15px;
    padding: 5px;
    color: #75A3A3;
    position: relative
}

.UserStatsMenu .info:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    color: #9E868C;
    overflow: hidden;
    visibility: hidden
}

.UserStatsMenu .info img {
    border: 1px solid #751975;
    float: left
}

.UserStatsMenu .info ul {
    list-style: none;
    margin: 0;
    color: #110033;
    margin-left: 32px
}

.UserStatsMenu .info ul li {
    line-height: 15px;
    margin: 0;
    color: #A3A375;
    overflow: hidden;
    white-space: nowrap
}

.UserStatsMenu .info ul .username {
    font-size: 13px;
    /*color: #75A3A3;*/
    color: #75A3A3;
    font-weight: bold;
    margin-bottom: 2px
}

.UserStatsMenu .actions ul {
    list-style: none;
    margin: 5px 0
}

/*.UserStatsMenu .actions controls the actions for the selected user from the userlist.*/
.UserStatsMenu .actions ul li {
    color: #8A00E6;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    line-height: 16px;
    white-space: nowrap
}

.UserStatsMenu .actions ul li a {
    color: #8A00E6
}

.UserStatsMenu .actions ul li a:hover {
    color: #8A00E6
}

.UserStatsMenu .actions ul li .icon {
    background-color: transparent;
    background-image: url("http://slot1.images.wikia.nocookie.net/__cb1438278992/common/extensions/wikia/Chat2/images/sprite-Chat.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    opacity: .4;
    width: 19px
}

.UserStatsMenu .actions ul li .label {
    padding-left: 5px
}

.UserStatsMenu .actions ul li.message-wall .icon,.UserStatsMenu .actions ul li.talk-page .icon {
    background-position: -521px 0px
}

.UserStatsMenu .actions ul li.contribs .icon {
    background-position: -397px 0px
}

.UserStatsMenu .actions ul li.private .icon {
    background-position: -583px 0px
}

.UserStatsMenu .actions ul li.private-block .icon {
    background-position: -641px 0px
}

.UserStatsMenu .actions ul li.give-chat-mod .icon {
    background-position: -335px 0px
}

.UserStatsMenu .actions ul li.kick .icon {
    background-position: -459px 0px
}

.UserStatsMenu .actions ul li.ban .icon {
    background-position: -273px 0px
}

.UserStatsMenu .actions ul li:hover {
    background-color: #CBAEA0
}

.UserStatsMenu .actions ul li:hover .icon {
    opacity: .7
}

.UserStatsMenu .actions ul li:hover.message-wall .icon,.UserStatsMenu .actions ul li:hover.talk-page .icon {
    background-position: -490px 0px
}

.UserStatsMenu .actions ul li:hover.contribs .icon {
    background-position: -366px 0px
}

.UserStatsMenu .actions ul li:hover.private .icon {
    background-position: -552px 0px
}

.UserStatsMenu .actions ul li:hover.private-block .icon {
    background-position: -614px 0px
}

.UserStatsMenu .actions ul li:hover.give-chat-mod .icon {
    background-position: -304px 0px
}

.UserStatsMenu .actions ul li:hover.kick .icon {
    background-position: -428px 0px
}

.UserStatsMenu .actions ul li:hover.ban .icon {
    background-position: -242px 0px
}

.UserStatsMenu .actions .separator {
    margin: 5px;
    border: 0;
    border-top: #000000 1px solid
}

.popover .UserStatsMenu {
    display: block
}

.ChatWindow .UserStatsMenu {
    box-shadow: 0 0 12px 0 #3D1F2E;
    border: 3px solid #B85C8A;
    position: absolute;
    z-index: 100
}

body {
    background: #382026;
    color: #382026;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0
}

body.warn .Chat {
    bottom: 70px
}

body.warn .remaining {
    display: block
}

body.limit-near .remaining {
    color: #FF4444
}

body.limit-reached .remaining {
    color: #ff3333
}

body .remaining {
    display: none;
    line-height: 25px;
    position: absolute;
    top: -25px;
    right: 5px
}

textarea {
    font: inherit;
    font-family: Helvetica,Arial,sans-serif;
    line-height: normal
}

body.on-prod {
    background-color: yellow
}

body.on-prod:before {
    content: "==NOTE:CONNECTED TO PROD NODE SERVER =="
}

a {
    color: #880000
}

a:hover {
    text-decoration: underline
}

.wordmark {
    color: #AA0000;
    font-size: 20px;
    line-height: 40px;
    margin-right: 150px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wordmark img {
    margin-top: 5px
}

.wordmark a:hover {
    text-decoration: none
}

/*.ChatHeader functionality: Unknown*/
.ChatHeader {
    background-color: #5D3540;
    border: 1px solid #A319FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    margin: 10px;
    position: relative;
    /*color: #330055;*/
}

/*.ChatHeader .User controls the information to be parsed onto the main chat screen; mainly the username.*/
.ChatHeader .User {
    border-left: 1px solid #A319FF;
    height: 26px;
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 113px;
    color: #75A3A3;
}

.ChatHeader .User img {
    vertical-align: middle
}

.ChatHeader .User .username {
    font-weight: bold;
    color: #75A3A3 !important;
}

.ChatHeader .User.chat-mod .username:after,.ChatHeader .User.staff .username:after {
    top: 1px
}

.ChatHeader .private {
    font-size: 16px;
    color: #FFAD33;
    font-weight: bold;
    line-height: 45px;
    padding: 0 5px
}

.User {
    font-size: 11px;
    padding: 7px 5px 7px 32px;
    position: relative;
    color: #881100 !important;
}

.User.away {
    color: #112233
}

.User.away .status {
    display: inline
}

.User img {
    border: 1px solid #000000;
    height: 22px;
    position: absolute;
    left: 5px;
    vertical-align: middle;
    width: 22px
}

/*.User .username controls the userlist field on the right but on the first line.*/
.User .username {
    display: block;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #002E00;
}

.User .username:after {
    content: '';
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px
}

.User.chat-mod .username:after,.User.staff .username:after {
    background-color: transparent;
    background-image: url("http://slot1.images.wikia.nocookie.net/__cb1438278992/common/extensions/wikia/Chat2/images/sprite-Chat.png");
    background-repeat: no-repeat
}

.User.chat-mod .username:after {
    background-position: -101px 0px
}

.User.staff .username:after {
    background-position: -154px 0px
}

/*.User .details controls the information shown in the user list on the second line. e.g if they are away or not.*/
.User .details {
    font-size: 11px;
    color: #4D704D;
    font-style: italic
}

.User .status {
    display: none
}

.User .UserStatsMenu {
    display: none
}

#WikiaPage {
    background-color: #E2C1B2;
    border: 1px solid #E066E0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 10px;
    left: 10px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 55px
}

.WikiaPage {
    color: #00FF00 !important;
}

.Chat {
    border-right: 1px solid #E066E0;
    border-bottom: 1px solid #E066E0;
    bottom: 50px;
    left: 0;
    line-height: 1.4em;
    overflow: auto;
    position: absolute;
    right: 150px;
    top: 0;
    line-height: 1.4em
}

.Chat ul {
    bottom: 0
}

.Chat li {
    min-height: 32px;
    padding: 18px 15px 16px 55px;
    position: relative;
    opacity: 0.95; 
    background-color: #F5E9E4;
}

.Chat .continued {
    margin-bottom: -15px;
    min-height: 0;
    padding-top: 0;
    top: -15px
}

.Chat .continued .avatar {
    display: none
}

.Chat .continued .username {
    display: none
}

.Chat .continued .time {
    display: none
}

.Chat .avatar {
    border: 1px solid #BAA49A;
    left: 10px;
    position: absolute;
    top: 18px;
    height: 38px;
    width: 38px;

}

/* .Chat .username controls the username shown ...*/
.Chat .username {
    display: block;
    color: #4775A3;
    font-weight: bold;
}

.Chat .username:after {
    content: ":"
}

/* .Chat .time controls the timestamp shown to the right of the screen.*/
.Chat .time {
    color: #4775A3;
    float: right;
    font-size: 12px
}

.Chat .message {
    white-space: pre-line;
}

.Chat ul li .message {
    color: #330044  !important;
}

.Chat ul li .message a {
    color: #00A37A  !important; 
}

.Chat .me-message {
    color: #A1A1A1;
}

/*.Chat .inline-alert controls any alerts such as welcome banners.*/
.Chat .inline-alert {
    /*color: #7A00CC;*/
    color:#;
    font-weight: bold;
    min-height: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    /*text-align: center;*/
    text-align: left;
}

/*.Chat .inline-alert:before controls anything to prepend the .Chat .inline-alert message.*/
.Chat .inline-alert:before {
    /* content: "~ ";*/
    content: "! ";
    color: red;
}

/*.Chat .inline-alert:after controls anything to append the .Chat .inliine-alert message */
.Chat .inline-alert:after {
    /*content: " ~";*/
    content: "";
    color: #FF55CC;
}

.Chat .you {
    background: #E8CDC1
}

.Write {
    bottom: 0;
    height: 45px;
    left: 0;
    line-height: 30px;
    padding-left: 55px;
    position: absolute;
    right: 150px
}

.Write.blocked {
    opacity: .3
}

.Write img {
    border: 1px solid #751975;
    left: 7px;
    position: absolute
}

.Write [name="message"] {
    background-color: transparent;
    border: 0;
    color: #002E5C;
    height: 100%;
    line-height: 1.4em;
    margin: 0;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%
}

.Write .message {
    background-color: #B59A8E;
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 2.7em;
    padding: 2px;
    position: relative
}

.Write input[type="submit"] {
    display: none
}

.Rail {
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px
}

.Rail .User {
    padding-left: 47px;
    min-height: 22px
}

.Rail .User:hover {
    background: #88746B;
    cursor: pointer
}

.Rail .User img {
    left: 20px
}

.Rail h1 {
    margin: 5px 0
}

.Rail .public {
    height: 30px;
    line-height: 30px;
    padding: 3px 0 3px 13px;
    text-overflow: ellipsis
}

.Rail .public .chevron {
    border-width: 5px;
    border-color: black transparent transparent;
    border-style: solid;
    cursor: pointer;
    display: none;
    height: 0;
    left: 3px;
    margin: 0;
    position: absolute;
    top: 20px;
    width: 0;
    vertical-align: middle
}

.Rail .public .chevron.closed {
    border-color: transparent transparent transparent black;
    left: 6px;
    top: 17px
}

.Rail .public .wordmark {
    margin: 0;
    vertical-align: middle
}

.Rail .private {
    background-color: #CBAEA0;
    background-image: -moz-linear-gradient(top,#6B2447 0,#6B2447 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(0,#6B2447),color-stop(100%,#6B2447));
    background-image: -o-linear-gradient(top,#6B2447 0,#6B2447 100%);
    background-image: -ms-linear-gradient(top,#6B2447 0,#6B2447 100%);
    border-top: 1px solid #751975;
    border-bottom: 1px solid #751975;
    font-size: 11px;
    padding: 3px 22px 2px;
    display: none;
    color: #D6C299;
}

.Rail .selected {
    box-shadow: inset 0 0 7px 0 #B247B2;
    background: #F6ECE8
}

.Rail .selected .splotch {
    display: none
}

.Rail .unread .splotch {
    display: block
}

.Rail .unread .username:after {
    display: inline
}

.Rail .blocked {
    opacity: .3
}

.Rail .splotch {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top,#FFFFFF 0,#FFFFFF 50%,#FFFFFF 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(0,#FFFFFF),color-stop(50%,#FF00FF),color-stop(100%,#00FFFF));
    background-image: -o-linear-gradient(top,#FFFFFF 0,#FF00FF 50%,#FFFFFF 100%);
    background-image: -ms-linear-gradient(top,#FFFFFF0,#FF00FF 50%,#FFFFFF 100%);
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: none;
    font-size: 9px;
    height: 12px;
    line-height: 13px;
    padding: 0 2px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 16px;
    min-width: 8px
}

.PrivateChatList .splotch {
    top: 6px
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #003300;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: #003300;
}