/* EliteShipsKai detailed view toggle Always On
Added by: ckwng
----------------------------------------------*/
p.eliteshipskai-detailed-toggle + table th.eliteshipskai-detailed,
p.eliteshipskai-detailed-toggle + table td.eliteshipskai-detailed {
    display: table-cell;
}

p.eliteshipskai-detailed-toggle + table span.eliteshipskai-detailed {
    display: inline !important;
}

p.eliteshipskai-detailed-toggle + table th.eliteshipskai-simple,
p.eliteshipskai-detailed-toggle + table td.eliteshipskai-simple {
    display: none;
}

p.eliteshipskai-detailed-toggle {
    display: none;
}