/* ========================================================= */
/* ========         Wikia Full Page View            ======== */
/* ========================================================= */
 
/* Navigation bar width change*/
.global-navigation-container
{
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
}
 
/* Main body width change */
.skin-oasis>.banner-notifications-wrapper, .WikiaHeader, .page-width-container, .WikiaPage
{
    max-width: 100%;
}
 
#WikiaPage
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
 
body
{
    overflow-x: hidden;
    padding-bottom: 0;
}