.WikiaPage {
    width: 1400px !important;
}

.WikiaArticleComments .article-comm-form textarea {
    width: 956px !important;
}

.WikiaFooter, #RECIRCULATION_RAIL {
    display: none !important;
}

section#recirculation-rail {
    display: none !important;
}