#RECIRCULATION_RAIL {
    display: none;
}

.WikiaFooter {
    display: none !important;
}

#notificationsEntryPoint {
    display: none;
}

.wds-global-footer {
    display: none !important;
}

WikiaRailWrapper {
    display: none !important;
}

WikiaRail {
    provider-container: none !important;
}

recirculation-rail {
    provider-container: none !important;
}

rail-module recirculation-unit premium-recirculation-rail {
    provider-container: none !important;
}

.WikiaFooter, #RECIRCULATION_RAIL {
    display: none !important;
}
 
section#recirculation-rail {
    display: none !important;
}