.WikiHeader{
    padding: 0px 10px 1px;
}
 
#WikiaPage{
    width: 80%;
    min-width: 800px;
}
 
.WikiaPage .WikiaArticle{
    font-size: 1.2em;
    line-height: 1.4em;
}
 
.WikiaArticle .navbox{
    font-size: 14px;
}
 
.WikiaArticle table{
    font-size: 12px;
    line-height: 20px;
}
 
.WikiaPage h1{
    font-size: 2em;
    line-height: 1.5em;
}
 
.WikiaPage h2{
    font-size: 1.5em;
    line-height: 1.8em;
}
 
.WikiaPage h3{
    font-size: 1.2em;
    line-height: 1.5em;
}
 
.WikiaPage h4, .WikiaPage blockquote{
    font-size: 1em;
    line-height: initial;
}